//- View all standard requests

extends layout 
block content
    .container
        h4.text-center Standard Requests
        each sr in stdReq
            |Name: #{sr.name}
            br
            |Email: #{sr.email}
            br
            |Phone: #{sr.stdPhone}
            br
            |Selected Package: #{sr.stdSelectedPkg}
            br
            |Selected Frequency: #{sr.stdSelectedFreq}
            br
            |Selected Price: #{sr.stdSelectedPrice}
            hr
        .text-right
            a(href='/adminSuccess') Back 