//- Display all registered users 

extends layout
block content
    h4.text-center Registered Users
    .container
        each ru in regUsr
            .row
                .col #{ru.firstname}
                .col #{ru.lastname}
                .col #{ru.email}
                .col #{ru.phone}
                .col #{ru.username}
                .col #{ru.password}
                .col #{ru.selection}
            hr 
        .text-right
            a(href='/adminSuccess') Back 